// Import Fonts
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
$font-family-base: "Rubik";

// Import Functions
@import "../node_modules/bootstrap/scss/functions";

// Global Variables
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;

// Import Variables
@import "../node_modules/bootstrap/scss/variables";

// Import Mixins
@import "../node_modules/bootstrap/scss/mixins";

// Card Carousel Controls

// Import Carousels
@import "../node_modules/bootstrap/scss/carousel";

$theme-colors: map-remove($theme-colors, "danger", "primary");

// my custom colours
$custom-colors: (
  "test": rgb(255, 211, 67),
  "primary": rgb(19, 94, 240),
  "b-grey": rgb(244,244,244),
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// spacing
$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 4,
  6: $spacer * 5,
  7: $spacer * 100,
);

// rounded
$border-radius: 0.375rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 1rem;
$border-radius-2xl: 2rem;
$border-radius-pill: 3rem;

.big-advert{
  height: 17.5rem;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.trending-ul {
  text-decoration: underline;
  text-decoration: #EDEDED;
}

.card-spacing {
  height: 1.5rem;
}


// import bootstrap - ALWAYS at very end
@import "../node_modules/bootstrap/scss/bootstrap.scss";
